<body>
  <div class="well">
    <h3>About Lonely Hearts Book Club</h3>
    <p>Lonely Hearts Book Club is for avid readers interested in serious literature, serious conversation, and a lot of fun.</p>
    <p>We meet every Thursday in the evening to discuss weekly reading assignments.</p>
    <p>Every member is encouraged to share their thoughts and opinions on the text. We encourage serious discussion as well as listening to each other's points. Everyone has a valid idea.</p>
    <p>Books are chosen by members rotating turns through our roster.</p>
  </div>
</body>
