<h3>Edit Member</h3>

<label>New First Name:</label>
<input [(ngModel)]="selectedMember.first">
<br>

<label>New Last Name:</label>
<input [(ngModel)]="selectedMember.last">
<br>

<label>New Email:</label>
<input [(ngModel)]="selectedMember.email">
<br>

<label>New Curretly Reading:</label>
<input [(ngModel)]="selectedMember.current">
<br>

<label>New Has Read:</label>
<input [(ngModel)]="selectedMember.past">
<br>

<label>New Thoughts:</label>
<input [(ngModel)]="selectedMember.note">
<br>

<button (click)="beginUpdatingMember(selectedMember)">Update</button>
<button (click)="beginDeletingMember(selectedMember)">Delete</button>
